@media (max-width: 600px) {
    section{
        padding-top: 20px;
        padding-top: 20px;
    }
    .off-navbar .offcanvas{
        width: 80%;
    }
    .testimonial-area .card {
        width: 100%;
    }
    .footer-text{
       font-size: 10px;
      }
    
}